body {
	background: "white";
	cursor: default;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 4em auto;
	max-width: calc(100% - 2em);
	min-height: calc(100vh - 8em);
	text-transform: lowercase;
	width: 30em;
}
